body{
    background-color: #333;
    overflow-x: hidden;
}

.snowflake{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: -8px;
}

@keyframes fall {
    /* 눈송이가 있는 곳에서 애니메이션 시작, from은 비워두기 */
    from{}  
    /* 눈송이를 화면 끝까지 움직인다 */
    to{
        transform: translateY(100vh);
        opacity: 0;
    }
}
